#header-main
  @apply transition-all duration-300 ease-in-out
  nav.navigation-main
    @apply transition-all duration-300 ease-in-out
    .navbar-brand
      svg
        @apply max-w-[60px] xl:max-w-none h-auto
    #menu-main-menu
      @apply w-full invisible hidden xl:block xl:visible
      li.menu-item
        @apply inline-block transition-all duration-500 ease-in-out translate-y-0
        &:nth-child(1)
          @apply mr-16
        &:nth-child(3),
        &:nth-child(4)
          @apply ml-16 last-of-type:ml-0 float-right
        a
          @apply font-serif font-light text-xl tracking-[1.54px] uppercase transition-all duration-300 ease-in-out relative bg-white
          &::after
            @apply content-[''] block absolute bg-gold w-[99%] h-[1px] -translate-y-2 transition-all duration-300 ease-in-out -z-10
          &:hover
            &::after
              @apply translate-y-0

      li.menu-item.current-menu-item,
      li.menu-item.current-page-ancestor
        a
          @apply font-serif font-light text-xl tracking-[1.54px] uppercase transition-all duration-300 ease-in-out relative bg-white opacity-100 visible
          &::after
            @apply content-[''] block absolute bg-gold w-[99%] h-[1px] translate-y-0 transition-all duration-300 ease-in-out -z-10
  .main-menu-toggle
    .bars
      @apply w-[36px] h-[18px] flex flex-col justify-between xl:invisible xl:hidden
      .bar
        @apply block h-[1px] w-full bg-blue
        &:nth-child(1)
          transform-origin: 20% 0%
          @apply transition-all duration-[0.4s] ease-in-out
        &:nth-child(2)
          transform-origin: 0% 0%
          @apply transition-all duration-[0.2s] ease-in-out scale-y-[1px]
        &:nth-child(3)
          transform-origin: 10% 100%
          @apply transition-all duration-[0.4s] ease-in-out


  /*.az-custom-language-switcher-menu-wrapper
    ul.az-custom-language-switcher-menu
      li.dropdown
        @apply relative
        &:hover,
        &:focus,
        &:focus-within
          ul.dropdown-content
            @apply -translate-y-0 visible opacity-100
        ul.dropdown-content
          @apply transition-all duration-300 ease-in-out bg-white absolute top-[30px] left-1/2 -translate-x-1/2 invisible opacity-0 translate-y-8
          li
            @apply border-t border-gold
            a
              @apply px-2 py-1 hover:text-white hover:bg-gold block
      li
        a
          @apply font-serif font-light text-xl text-blue uppercase tracking-[1.54px]

  .widget_icl_lang_sel_widget
    @apply px-8 hidden invisible md:block md:visible
    .wpml-ls-sidebars-header_ls
      @apply w-auto
      ul
        li.wpml-ls-current-language
          a.wpml-ls-item-toggle
            @apply border-none font-serif font-light text-xl text-blue uppercase tracking-[1.54px]
          ul.wpml-ls-sub-menu
            @apply transition-all duration-300 ease-in-out
            li.wpml-ls-slot-header_ls
              a.wpml-ls-link
                @apply font-serif font-light text-xl text-blue uppercase tracking-[1.54px] hover:text-white hover:bg-gold



#header-main.sticky
  @apply drop-shadow-[0_2px_2px_rgba(0,0,0,0.06)]
  nav.navigation-main
    @apply py-8 xl:py-6
  .mega-menu-wrapper
    @apply xl:top-[76px]

#header-main.mega-menu-open
  nav.navigation-main
    #menu-main-menu
      li.menu-item
        @apply translate-y-6 opacity-0 invisible
  .mega-menu-wrapper
    @apply visible h-[var(--element-height)]
  .main-menu-toggle
    .bars
      .bar
        &:nth-child(1)
          @apply rotate-45
        &:nth-child(2)
          @apply scale-y-0
        &:nth-child(3)
          @apply -rotate-45

#header-main.mega-menu-open.sticky
  @apply filter-none
